.main {
  padding: 0 20px;
  z-index: 1;
}

.card_section {
  margin-top: 20px;
  font-family: "CabinetGrotesk-Medium";
}

.card_items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
