.close__button-item {
  background-image: url(../../images/itemclosebtn.svg);
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 48px;
  right: 48px;
  cursor: pointer;
}

.modal__container_item_view {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.modal__container_item-title {
  font-family: "CabinetGrotest-Medium";
  position: relative;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 32px;
  margin-left: 32px;
}

.modal__image {
  display: flex;
  flex-direction: column;
  max-width: 75vw;
  max-height: 75vh;
  height: auto;
  width: auto;
  padding: 0;
  position: relative;
}

.selected__card-name {
  padding-bottom: 12px;
}

.selected__card-weather {
}
.delete__button-item {
  position: absolute;
  top: 20px;
  right: 32px;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ff4d00;
  border: none;
  outline: none;
  background: none;
  align-self: flex-end;
  cursor: pointer;
}

.delete__button-item:hover {
  color: #808080;
}

.item__delete-button_visible {
  display: block;
}

.item__delete-button_visible {
  display: block;
}
